<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>org.apache.tiles.extras.complete.CompleteAutoloadTilesListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Tiles Dispatch Servlet</servlet-name>
        <servlet-class>org.apache.tiles.web.util.TilesDispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>com.se1617.learning.controller.admin.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizzesController</servlet-name>
        <servlet-class>com.se1617.learning.controller.admin.QuizzesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionController</servlet-name>
        <servlet-class>com.se1617.learning.controller.admin.QuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostController</servlet-name>
        <servlet-class>com.se1617.learning.controller.admin.PostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogPublicController</servlet-name>
        <servlet-class>com.se1617.learning.controller.client.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseController</servlet-name>
        <servlet-class>com.se1617.learning.controller.client.CourseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Tiles Dispatch Servlet</servlet-name>
        <url-pattern>*.tiles</url-pattern>
    </servlet-mapping>
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>us2.smtp.mailhostbox.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>email</param-name>
        <param-value>support@studentfpt.tech</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>)ttpWno7</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>/views/client/home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.se1617.learning.controller.client.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingController</servlet-name>
        <servlet-class>com.se1617.learning.controller.admin.SettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthController</servlet-name>
        <servlet-class>com.se1617.learning.controller.client.AuthController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderController</servlet-name>
        <servlet-class>com.se1617.learning.controller.admin.SliderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleController</servlet-name>
        <servlet-class>com.se1617.learning.controller.admin.RoleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectController</servlet-name>
        <servlet-class>com.se1617.learning.controller.admin.SubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>com.se1617.learning.controller.client.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.se1617.learning.controller.admin.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>com.se1617.learning.controller.admin.DashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingController</servlet-name>
        <url-pattern>/admin/setting/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthController</servlet-name>
        <url-pattern>/auth/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderController</servlet-name>
        <url-pattern>/admin/slider/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleController</servlet-name>
        <url-pattern>/admin/role/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectController</servlet-name>
        <url-pattern>/admin/subject/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/admin/user/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/admin/dashboard/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>PermissionFilter</filter-name>
        <filter-class>com.se1617.learning.filter.PermissionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ContextFilter</filter-name>
        <filter-class>com.se1617.learning.filter.ContextFilterClient</filter-class>
    </filter>
    <filter>
        <filter-name>AuthFilterAdmin</filter-name>
        <filter-class>com.se1617.learning.filter.AuthFilterAdmin</filter-class>
    </filter>
    <filter>
        <filter-name>AuthFilterClient</filter-name>
        <filter-class>com.se1617.learning.filter.AuthFilterClient</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PermissionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilterAdmin</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ContextFilter</filter-name>
        <servlet-name>HomeController</servlet-name>
        <servlet-name>AuthController</servlet-name>
        <servlet-name>ProfileController</servlet-name>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/admin/registrations/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizzesController</servlet-name>
        <url-pattern>/admin/quizzes/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionController</servlet-name>
        <url-pattern>/admin/question/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostController</servlet-name>
        <url-pattern>/admin/post/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogPublicController</servlet-name>
        <url-pattern>/blog/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseController</servlet-name>
        <url-pattern>/course/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1440
        </session-timeout>
    </session-config>
    <multipart-config>
        <max-file-size>157286400</max-file-size>
        <max-request-size>209715200</max-request-size>
        <file-size-threshold>0</file-size-threshold>
    </multipart-config>
</web-app>
